.series-card{
width:100%;
position: relative;
}
.series-card:hover{

}
.series-info{

}
.card-overlay{
    position: absolute;
    opacity: 0;
    width:95%;
    height:200px;
    background:rgb(0, 0, 0);
    z-index: 100;
    border-radius: 2px;
}
.card-overlay:hover{
opacity: .8;
}
.list-carousel div .slick-slide  .list-carousel-img{
    z-index: 2;
    border-radius: 2px;
    width:95% !important;
}